#top-bar {
    background-color: var(--color-primary);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    box-sizing: border-box;
    padding: 10px;
    height: 60px;
    width: 98%;
    border-radius: 15px;
}

#title {
    font-family: 'Roboto Slab', serif;
    font-weight: semi-bold;
    color: var(--text-1);
    font-size: 1.75rem;
}

#logo {
    height: 100%;
    width: auto;
    box-sizing: border-box;
}