#top-bar {
    background-color: var(--color-primary);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    box-sizing: border-box;
    padding: 10px;
    height: 60px;
    width: 100%;
}

#title {
    font-family: 'Stoke', serif;
    color: var(--color-background);
    font-size: 1.5rem;
}