@import url('https://fonts.googleapis.com/css2?family=Stoke&display=swap');

:root {
  --color-primary: #06A970;
  --color-secondary: #08F26E;
  --color-tertiary: #dcf7e2;
  --color-background: #F6FBF4;
}

@media (prefers-color-scheme: dark) {
  :root {
    --color-primary: #06A970;
    --color-secondary: #08F26E;
    --color-tertiary: #555c68;
    --color-background: #21231e;
  }
}

body {
  margin: 0;
  font-family: 'Segoe UI', 'Arial', sans-serif;
}

#root {
  width: 100%;
  min-height: 100vh;
  background-color: var(--color-background);
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}