@import url('https://fonts.googleapis.com/css2?family=Stoke&display=swap');

:root {
  --color-primary: #4B8673;
  --color-secondary: #5FD068;
  --color-tertiary: #F5DF99;
  --color-background: #F6FBF4;
}

body {
  margin: 0;
  font-family: 'Segoe UI', 'Arial', sans-serif;
}

#root {
  width: 100%;
  min-height: 100vh;
  background-color: var(--color-background);
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}